@model List<Netwise.Models.CatFact>

@{
    ViewData["Title"] = "Zadanie rekrutacyjne";
    int number = 1;
}

@await Html.PartialAsync("_Alerts")

<div class="center-container d-flex flex-column justify-content-center">
    <div class="btn-container d-flex flex-row justify-content-center">
        <a href="/Home/GetNewData">
            <button class="btn btn-primary">Pobierz nowy rekord</button>
        </a>
        <a href="/Home/OpenFile">
            <button class="btn btn-primary">Otwórz plik</button>
        </a>
    </div>
    <div class="text-center content">
        <div id="cat-fact-content" class="d-flex flex-column align-items-center">
            @if (Model.Any())
            {
                <table id="cat-fact-table" class="display table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>L.p</th>
                            <th>Tekst</th>
                            <th>Długość</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @number.
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fact)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lenght)
                                </td>
                            </tr>
                            number++;
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Brak zapisanych danych w pliku.</p>
            }
        </div>
    </div>
</div>
